<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkgbSGoxE1n1FPq-J_6hpNbB_Cnzqkv3A</string>
	<key>GCM_SENDER_ID</key>
	<string>358571247971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiwpa.match.app</string>
	<key>PROJECT_ID</key>
	<string>sport-news-26413</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-news-26413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358571247971:ios:9d036b8e512aedf1a8eb56</string>
</dict>
</plist>